In [18]:
import pandas as pd
import numpy as np
import sklearn 
import matplotlib as mp
from googletrans import Translator
import seaborn as sns

In [19]:
items = pd.read_csv("C:/WorkingFolder/Data/SalesPrediction/items.csv")
item_category = pd.read_csv("C:/WorkingFolder/Data/SalesPrediction/item_categories.csv")
sales_train = pd.read_csv("C:/WorkingFolder/Data/SalesPrediction/sales_train_v2.csv")
sample_submission = pd.read_csv("C:/WorkingFolder/Data/SalesPrediction/sample_submission.csv")
shops = pd.read_csv("C:/WorkingFolder/Data/SalesPrediction/shops.csv")

In [28]:
item_category.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [31]:
sales_train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name_x,item_category_id_x,item_name_y,item_category_id_y,item_name,item_category_id,item_category_name
0,02.01.2013,0,59,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
1,23.01.2013,0,24,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
2,20.01.2013,0,27,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
3,02.01.2013,0,25,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
4,03.01.2013,0,25,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray

In [27]:
sales_train = pd.merge(sales_train, items, on="item_id")
sales_train = pd.merge(sales_train, item_category, on="item_category_id")

In [34]:
sales_train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name_x,item_category_id_x,item_name_y,item_category_id_y,item_name,item_category_id,item_category_name
0,02.01.2013,0,59,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
1,23.01.2013,0,24,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
2,20.01.2013,0,27,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
3,02.01.2013,0,25,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
4,03.01.2013,0,25,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray